<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href='../student/display'>Student Management</a>   | 

    <a href='../department/display'>Department Management</a>
  </body>
</html>
