<aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <h1><a class="navbar-brand" href="index.html"><span class="fa fa-area-chart"></span><span class="dashboard_text">Glance Design</span></a></h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
              <a href="/">
              <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li>
  
            <li class="treeview">
              <a href="#">
              <i class="fa fa-laptop"></i>
              <span>Department</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/department/add"><i class="fa fa-angle-right"></i> Add</a></li>
                <li><a href="/department/display"><i class="fa fa-angle-right"></i> Display</a></li>
              </ul>
            </li>
            
            <li class="treeview">
              <a href="#">
              <i class="fa fa-laptop"></i>
              <span>Student</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/student/add"><i class="fa fa-angle-right"></i> Add</a></li>
                <li><a href="/student/display"><i class="fa fa-angle-right"></i> Display</a></li>
              </ul>
            </li>
  
           

           
            
            
          </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
  </aside>
  </div>